*.pyc
.cache

.idea
.DS_Store
*.iml

venv
build/
dist/
docs/build/
genestack_client.egg-info/
# generated shell docs
docs/source/scripts/genestack-user-setup.rst

# Earthly stuff
.env
.env-woq
.arg
.secret
