--extra-index-url https://nexus.devops.gs.team/repository/pypi-proxy-central/simple/
keyring==24.2.0
requests==2.31.0
pyOpenSSL==23.3.0
jsonschema==4.19.1
future==0.18.3
pyrsistent==0.19.3
pytest==7.4.2
